body {
    font-family: 'Montserrat', sans-serif;
}
/*main styles*/
.main{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}
.main_content{
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0,0,0,0.1);
    padding: 105px 90px;
}

/*about styles*/
.about {
    background-color: #FFFFFF;
    flex-direction: row-reverse;
    margin-bottom: 40px;
}
.about-position{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 10px;
}
.about-name{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
}
.about-description{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}

/*projects styles*/
.projects {
    margin-bottom: 5px;
}
.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}
.projects-list{
    padding: 0;
    margin-left: 15px;
}
.projects-item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
.project,
.project-link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.project-link{
    margin-left: 10px;
}
.project-bracket{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}



    /*work styles*/
.work{
/*    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 40px;*/

    padding: 50px 40px 50px 20px;
}

.work-position{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}
.organization{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}
.period{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}
.line{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.duties{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 10px;
    padding: 0px;
}


/*
Education styles*/
.education{
}
.sidebar{
    background-color: #1E2939;
    padding-top: 40px;
    width: 360px;
}
.photo{
    width: 350px;
    margin-bottom: 50px;
}
.contacts,.tech-skills{
    margin-left: 40px;
}
.contacts{
    margin-bottom: 50px;
}

.soft-skills{
    margin-left: 40px;
}
.sidebar-title{
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-left: 40px;
}
.sidebar-tech,.sidebar-soft{
    color: #FFFFFF;
}
.number{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.email{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.contact-link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(128, 134, 143, 1);
    margin-right: 10px;
}
.email-link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(128, 134, 143, 1);
    margin-right: 10px;
}
.tech-list{
    color: #FFFFFF;
    padding:0;
    margin-left: 17px;
}
.soft-list{
    color: #FFFFFF;
    padding:0;
    margin-left: 17px;
}
.tech-skills-item, .soft-skills-item{
    color: maroon;
}
.tech-skills-text, .soft-skills-text{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}